body {
    font-family: 'Work Sans', sans-serif;
}

.s-margin{
    margin: 100px 120px;
}
/* header style start */
header {
    background-image: url("../images/banner/banner1.png");
    height: 800px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-container {
    text-align: right;
    padding-right: 230px;

}

.header-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

.header-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.btn-header {
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 25px;
    border: 0;
    color: #fff;
}

.previous-year{
    display: flex;
    margin-top: 240px;
    align-items: center;
    gap: 110px;
}

.img-bg{
    position: absolute;
    bottom: -2px;
    left: -25px;
    
}

.color-background{
    position: relative;
    width: 527px;
    height: 527px;
    border-radius: 50%;
    background: rgba(241, 91, 34, 0.20);
    
    
    
}
.previous-year-column ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li i{
    color: #16D887;
}




